In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
stations = pd.read_csv('Data/stations.csv')
stations.head()

,id,name,geometry,buildstart,opening,closure,city_id
0,7694,Keisei Tsudanuma,POINT(140.024812197129 35.6837744784723),1921.0,1921.0,999999.0,114
1,6003,Kossuth Lajos tér,POINT(19.0462376564033 47.5054880717671),0.0,0.0,999999.0,29
2,7732,Saint-Charles,POINT(5.3801556 43.3024646),1973.0,1977.0,999999.0,74
3,7695,Keisei Makuhari-Hongo,POINT(140.042146725175 35.6726021159981),1991.0,1991.0,999999.0,114
4,7726,Chartreux,POINT(5.4014815 43.309129),1973.0,1977.0,999999.0,74

In [5]:
station_lines = pd.read_csv('Data/station_lines.csv')
station_lines.head()

   id  station_id  line_id  city_id           created_at           updated_at
0  47        7754      570       74  2017-11-21 00:00:00  2017-11-21 00:00:00
1  48        7771      571       74  2017-11-21 00:00:00  2017-11-21 00:00:00
2  49        7764      571       74  2017-11-21 00:00:00  2017-11-21 00:00:00
3  50        7763      571       74  2017-11-21 00:00:00  2017-11-21 00:00:00
4  51        7729      571       74  2017-11-21 00:00:00  2017-11-21 00:00:00